@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/inter/Inter-roman.var.woff2') format('woff2');
}

@font-face {
  font-family: 'Monument Extended';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/monument-extended/monumentextended-bold.woff2')
    format('woff2');
}

@tailwind base;
@tailwind components;

::selection {
  background: rgba(98,77,255,.1);
}

img {
 @apply text-gray-500 flex items-center justify-center;
}

@tailwind utilities;
