---
layout: layouts/base.njk
---

<article class="mt-10">
  <div class="mx-auto lg:text-lg max-w-prose px-6">
    <time class="text-sm opacity-60" datetime="{{ date | isoDate }}">{{
      date | postDate
    }}</time>
    <h1 class="mt-1 text-4xl lg:text-5xl font-bold">{{ title }}</h1>
    <div class="mt-6 flex items-center space-x-4">
      <a
        href="https://twitter.com/{{ metadata.author.twitterHandle }}"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="/img/santi.jpg"
          alt="Santi Cros"
          class="w-16 h-16 object-cover rounded-full"
          width="600"
          height="600"
          srcset=""
        />
      </a>
      <div class="flex flex-col">
        <p class="font-bold">
          {{ metadata.author.name }}
        </p>
        <a
          href="https://twitter.com/{{ metadata.author.twitterHandle }}"
          class="underline text-sm"
          target="_blank"
          rel="noopener noreferrer"
        >
          @{{ metadata.author.twitterHandle }}
        </a>
      </div>
    </div>
  </div>
  <div class="prose lg:prose-lg mx-auto mt-6 px-6">
    {{ content | safe }}
  </div>
</article>
