---
layout: layouts/home.njk
title: FAQs
description: JOMO is a free browser extension that makes websites less addictive and gives you control.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
---
<h1>FAQs</h1>