---
layout: layouts/home.njk
title: Limit distractions
description: JOMO is a free browser extension that makes websites less addictive and gives you control.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
---

<header class="text-center mt-20">
  <h1 class="font-extended text-4xl sm:text-5xl lg:text-6xl 2xl:text-7xl">
    Limit distractions.<br />Enjoy what matters.
  </h1>
  <h2 class="mt-10 text-2xl max-w-xl mx-auto">
    JOMO is a free & open source browser extension that makes websites less
    addictive.
  </h2>
  <a href="/" class="mt-10 bg-black transition-opacity hover:opacity-80 inline-block text-white px-8 py-4 rounded-md font-bold text-lg">Add to Firefox</a>
  <p class="mt-2 text-sm">Also for Chrome and Safari</p>
</header>
<main class="mt-10">
  <section class="text-center max-w-lg mx-auto">
    <h1 class="font-extended text-2xl sm:text-3xl lg:text-4xl">Choose your digital experience</h1>
    <p class="text-xl mt-4">
      Social media is designed to be addictive. JOMO lets you remove the
      addictive behaviors you want.
    </p>
  </section>

  <section class="container">
    <h1>Limit algorithmic recommendations</h1>
    <p>
      Recommendation algorithms show you infinite options that you’ll probably
      like. Put a limit or hide them completly.
    </p>
  </section>

  <section class="container text-right">
    <h1>Hide metrics</h1>
    <p>
      Metrics affect how we percieve content online and also put pressure on
      ourselves when we compare with others. With JOMO now you can hide them.
    </p>
  </section>

  <section class="container">
    <h1>Remove distracting elements</h1>
    <p>
      All the elements on a page affect our experience. Now you can remove the
      distracting ones.
    </p>
  </section>
  <section class="cta">
    <div class="container">
      <h1>Start controlling your digital experience</h1>
      <p>
        Add the free browser extension and choose the addictive design patterns
        you want to remove.
      </p>
    </div>
  </section>
</main>
