---
layout: layouts/home.njk
title: Limit distractions. Enjoy what matters.
description: JOMO is a free browser extension that makes websites less addictive and gives you control.
---

{# in frontmatter -> image: img/social.jpg #}

<header class="text-center mt-14 px-6">
  <h1
    class="
      font-extended font-bold
      text-4xl
      sm:text-5xl
      lg:text-6xl
      2xl:text-7xl
    "
    style="line-height: 115%"
  >
    Limit distractions.<br/>Enjoy what matters.
  </h1>
  <h2 class="mt-10 text-xl sm:text-2xl max-w-xl mx-auto">
    JOMO is a free & open source browser extension that makes websites less
    addictive.
  </h2>
  {# {{ metadata.extension_url.chrome }} target="_blank" Add to chrome #}
  <a
    href="#"
    rel="noopener noreferrer"
    class="
      extension-link-browser
      mt-10
      bg-black
      transition-opacity
      hover:opacity-90
      inline-block
      text-white
      px-8
      py-4
      rounded-md
      font-bold
      text-lg
    "
    >Coming soon</a
  >
  <p class="mt-3 text-sm text-black text-opacity-60">
    Try it on Chrome, Firefox, Edge, Opera or Brave
  </p>
  <div class="relative mt-10 md:mt-20">
    <img
      src="/img/jomo_illustration_youtube_visible.svg"
      alt="Illustration of JOMO Extension in limited mode on YouTube"
      width="1147"
      height="664"
      class="home-illustration-visible home-image mx-auto"
/>
    <img
      src="/img/jomo_illustration_youtube_limited.svg"
      alt="Illustration of JOMO Extension in limited mode on YouTube"
      width="1147"
      height="664"
      class="home-illustration-limited absolute top-0 left-0 right-0 home-image mx-auto"
/>
    <img
      src="/img/jomo_illustration_youtube_hidden.svg"
      alt="Illustration of JOMO Extension in limited mode on YouTube"
      width="1147"
      height="664"
      class="home-illustration-hidden absolute top-0 left-0 right-0 home-image mx-auto"
/>
    <div class="absolute -bottom-20 sm:-bottom-8 left-0 right-0 z-10">
      <fieldset>
        <div class="bg-black text-white mx-auto inline-block rounded-xl">
          <legend class="
            p-2
            font-bold
            uppercase
            tracking-wide
            text-sm
            border-2 border-black
            rounded-t-xl rounded-b-none
            bg-white
            text-black
          ">Recommendations</legend>
          <div class="p-3 grid grid-cols-3 gap-3 font-bold">
            <label>
              <input type="radio" name="home-illustration" value="visible" class="sr-only">
              <span class="filter-home-illustration">Show</span>
            </label>
            <label>
              <input type="radio" name="home-illustration" value="limited" checked class="sr-only">
              <span class="filter-home-illustration">Limit</span>
            </label>
            <label>
              <input type="radio" name="home-illustration" value="hidden" class="sr-only">
              <span class="filter-home-illustration">Hide</span>
            </label>
          </div>

        </div>
      </fieldset>
    </div>
  </div>
</header>
<main class="mt-24 sm:mt-12 space-y-16">
  <section class="text-center max-w-xl mx-auto px-6 w-full">
    <h1 class="font-extended font-bold text-2xl sm:text-3xl lg:text-4xl">
      Choose your digital experience
    </h1>
    <p class="text-lg sm:text-xl mt-4">
      Social media is designed to be addictive. JOMO lets you remove the
      addictive behaviors you want.
    </p>
  </section>

  <section
    class="
      px-6
      grid grid-cols-1
      md:grid-cols-2
      gap-4
      md:gap-10 md:items-center
      max-w-screen-lg
      xl:max-w-screen-xl
      mx-auto
    "
  >
    <div>
      <h1 class="font-extended font-bold text-2xl sm:text-3xl lg:text-4xl">
        Limit algorithmic recommendations
      </h1>
      <p class="text-lg sm:text-xl mt-4">
        Recommendation algorithms show you infinite options that you’ll probably
        like. Put a limit or hide them completely.
      </p>
    </div>
    <img
      src="/img/jomo_illustration_youtube_limited.svg"
      alt="Illustration of JOMO Extension in limited mode on YouTube"
      width="1147"
      height="664"
      class="w-full"
/>
  </section>

  <section
    class="
      px-6
      grid grid-cols-1
      md:grid-cols-2
      gap-4
      md:gap-10 md:items-center
      max-w-screen-lg
      xl:max-w-screen-xl
      mx-auto
    "
  >
    <div class="text-right order-1 md:order-2">
      <h1 class="font-extended font-bold text-2xl sm:text-3xl lg:text-4xl">
        Hide metrics
      </h1>
      <p class="text-lg sm:text-xl mt-4">
        Metrics affect how we perceive content online and also put pressure on
        ourselves when we compare with others. With JOMO now you can hide them.
      </p>
    </div>
    <img
      src="/img/jomo_illustration_youtube_limited.svg"
      alt="Illustration of JOMO Extension in limited mode on YouTube"
      width="1147"
      height="664"
      class="w-full order-2 md:order-1"
/>
  </section>

  <section
    class="
      px-6
      grid grid-cols-1
      md:grid-cols-2
      gap-4
      md:gap-10 md:items-center
      max-w-screen-lg
      xl:max-w-screen-xl
      mx-auto
    "
  >
    <div>
      <h1 class="font-extended font-bold text-2xl sm:text-3xl lg:text-4xl">
        Remove distracting elements
      </h1>
      <p class="text-lg sm:text-xl mt-4">
        All the elements on a page affect our experience. Now you can remove the
        distracting ones.
      </p>
    </div>
    <img
      src="/img/jomo_illustration_youtube_limited.svg"
      alt="Illustration of JOMO Extension in limited mode on YouTube"
      width="1147"
      height="664"
      class="w-full"
/>
  </section>
  <section class="faqs px-6 max-w-2xl mx-auto">
    <h1 class="font-extended font-bold text-2xl sm:text-3xl lg:text-4xl">
        Frequently asked questions
      </h1>
    <dl class="mt-8 space-y-6 lg:space-y-8">
      <div class="space-y-1">
        <dt class="text-xl font-bold">Is the JOMO extension 100% free?</dt>
        <dd>Yes, JOMO is totally free and Open Source. We believe in a better future where design respects users.</dd>
      </div>

      <div class="space-y-1">
        <dt class="text-xl font-bold">What websites does it support?</dt>
        <dd>As for now it works in YouTube and Twitter. We are working on supporting other social media sites like Facebook, Instagram, Linkedin and also other pages with addictive patterns like Netflix, Amazon and more.</dd>
      </div>

      <div class="space-y-1">
        <dt class="text-xl font-bold">Do you share my data?</dt>
        <dd>JOMO has no ads, no analytics, no trackers, no cookies, and does not send or receive personal informaion of any kind from your device. The code is Open Source so you can check it on <a href="https://github.com/santicros/jomo-extension" target="_blank" rel="noopener noreferrer">GitHub</a>. Your privacy and the security is very important for us.</dd>
      </div>

      <div class="space-y-1">
        <dt class="text-xl font-bold">What is the story behind the project?</dt>
        <dd>JOMO is made by <a href="https://twitter.com/{{metadata.author.twitterHandle}}" target="_blank" rel="noopener noreferrer">Santi Cros</a> and it started as a Final Degree Project. Learn more about the idea, research and development on the <a href="/blog/">blog</a>.</dd>
      </div>
    </dl>
  </section>
  <section class="bg-black text-white py-12 sm:py-16">
    <div
      class="
        max-w-screen-lg
        xl:max-w-screen-xl
        mx-auto
        flex flex-col
        lg:flex-row
        justify-between
        px-6
        lg:items-center
        space-y-8
        lg:space-y-0
      "
    >
      <div class="max-w-2xl">
        <h1 class="font-extended font-bold text-2xl sm:text-3xl lg:text-4xl">
          Start controlling your digital experience
        </h1>
        <p class="text-lg sm:text-xl mt-4">
          Add the free browser extension and choose the addictive design
          patterns you want to remove.
        </p>
      </div>
      <div>
        {# {{ metadata.extension_url.chrome }} target="_blank" Add to chrome #}
        <a
          href="#"
          rel="noopener noreferrer"
          noreferrer”
          class="
            extension-link-browser
            bg-white
            transition-opacity
            hover:opacity-90
            inline-block
            text-black
            px-8
            py-4
            rounded-md
            font-bold
            text-lg
          "
          >Coming soon</a>
      </div>
    </div>
  </section>
</main>