<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>{{ title or metadata.title }}</title>
<meta name="description" content="{{ description or metadata.description }}" />
<meta name="theme-color" content="#FFFFFF" />
<link rel="canonical" href="{{ metadata.url }}{{ canonicalUrl or page.url }}" />
<link rel="preconnect" href="/" crossorigin />

<link rel="preload" href="fonts/inter/Inter-roman.var.woff2?v=3.18" as="font" crossorigin="anonymous" />
<link rel="preload" href="fonts/monument-extended/monumentextended-bold.woff2" as="font" crossorigin="anonymous" />

{# Google #}
<meta itemprop="name" content="{{ title or metadata.title  }}" />
<meta
  itemprop="description"
  content="{{ description or metadata.description }}"
/>
<meta itemprop="image" content="{{ image | absolute(metadata.url) }}" />

{# Facebook #}
<meta property="og:title" content="{{ title or metadata.title  }}" />
<meta
  property="og:description"
  content="{{ description or metadata.description }}"
/>
{% if image %}
<meta property="og:image" content="{{ image | absolute(metadata.url) }}" />
{% endif %}

{# Twitter #}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ title or metadata.title  }}" />
<meta name="twitter:site" content="@{{ metadata.author.twitterHandle }}" />
<meta name="twitter:creator" content="@{{ metadata.author.twitterHandle }}" />
<meta name="twitter:image" content="{{ image | absolute(metadata.url) }}" />