<style>
	nav [aria-current] {
		opacity: 0.5;
	}
</style>

{# {% set links = [
	{
		name: 'About',
		url: '/about/'
	}, {
		name: 'Blog',
		url: '/blog/'
	}
] %} #}
{% set links = [
	{
		name: 'Blog',
		url: '/blog/'
	}
] %}

<header class="page-header sm:fixed z-50 sm:top-0 sm:left-0 sm:right-0 sm:bg-white sm:bg-opacity-95">
	<nav class="px-2 py-3 flex justify-between items-center max-w-screen-lg xl:max-w-screen-xl mx-auto">
		<a href="/" class="py-3 px-4 inline-block">
			{{ '/src/_static/img/jomo_logo.svg' | svgContents("h-4") | safe }}
		</a>
		<ul class="flex sm:space-x-6">
			{% for link in links %}
				<li>
					<a href="{{link.url}}" class="py-3 px-4 inline-block" {% if page.url===link.url %} aria-current="page" {% endif %}>{{link.name}}</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
</header>
<div class="sm:h-20"></div>