<nav class="flex justify-between px-6 py-4">
  <span class="font-extended">
    <a href="/" class="py-2 px-4">JOMO</a>
  </span>
  <ul class="flex space-x-6">
    <li>
      <a href="/about" class="py-2 px-4">About</a>
    </li>
    <li>
      <a href="/faqs" class="py-2 px-4">FAQs</a>
    </li>
    <li>
      <a href="/blog" class="py-2 px-4">Blog</a>
    </li>
  </ul>
</nav>